/* Jaguar Bytes Styles */

/*
ZHK{CSS_FILES_ARE_NOT_INVISIBLE}
*/

body {
  background-color: #0f172a;
  color: #e5e7eb;
  font-family: Arial, sans-serif;
  padding: 40px;
}

h1 {
  color: #22c55e;
}

table {
  width: 100%;
  max-width: 700px;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  border: 1px solid #334155;
  padding: 10px;
}

th {
  background-color: #020617;
}

input {
  width: 100%;
  padding: 8px;
  background: #020617;
  color: #e5e7eb;
  border: 1px solid #334155;
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  background: #22c55e;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  background: #16a34a;
}
